<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- head content -->
	<title>Nutrition Environment Measures Survey</title>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/dataEntry.css">
	<link href="/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/vendor/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet">

	<!-- javascript -->
	<script src="/vendor/jquery-1.11.3.js" defer></script>
	<script src="/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js" defer></script>
	<script src="/javascripts/datasetSelect.js" defer></script>
</head>
<body>
    <div class="container">
    <form method="post" action="https://afternoon-temple-5534.herokuapp.com/reviews/" onsubmit="window.location.href = 'datasetSelect.html'; return false;">
        <div class="row well">
            <div id="title-bar">
                <div class="col-xs-2">
                    <button class="btn btn-default"><a href="datasetSelect.html"> Back </a> </button>
                </div>
                <div class="col-xs-8 text-center">
                    Name here
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" type="submit" value="Submit">Save</button>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Select the type of restaurant
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="question1">
                    <div class="btn-group btn-group-vertical btn-vertical-justified" role="group">
                        <button type="button" class="btn btn-default">Dining Hall</button>
                        <button type="button" class="btn btn-default">Cafeteria and Salad Bar</button>
                        <button type="button" class="btn btn-default">Grab-N-Go Snack Shop</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Data Sources
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>Select all that apply</p>
                <div class="question2">
                    <div class="btn-group btn-group-vertical btn-vertical-justified" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" checked> Site Visit
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Take-Away Menu
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Internet
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Interview
                      </label>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Site Visit Information
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Select all that apply</p>
                <div class="question2">
                    <div class="btn-group btn-group-vertical btn-vertical-justified" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" checked> Take/Away Menu
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Nutrition Information
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Internet
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Other
                      </label>
                    </div>
                    <textarea rows="4" cols="30" placeholder="Comments"></textarea> <!-- Disable when other not selected -->
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  Take-Away Menu
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <p>Select all that apply</p>
                <div class="question2">
                    <div class="btn-group btn-group-vertical btn-vertical-justified" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" checked> Nutrition Information
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Identification of healthier items
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Other
                      </label>
                    </div>
                    <textarea rows="4" cols="30" placeholder="Comments"></textarea> <!-- Disable when other not selected -->
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                  Website
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Select all that apply</p>
                <div class="question2">
                    <div class="btn-group btn-group-vertical btn-vertical-justified" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" checked> Menu
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Nutrition Information
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Identification of healthier items
                      </label>
                      <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off"> Other
                      </label>
                    </div>
                    <textarea rows="4" cols="30" placeholder="Comments"></textarea> <!-- Disable when other not selected -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>

        <!-- hidden when finished -->
        <div class="question0">
        </div>

        <div class="question6 finished">
            <h3>Take-Away Menu:</h3>
            <div class="checkbox">
            </div>
            <div class="checkbox">
                <label> <input type="checkbox"> Menu options </label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox"> Pricing </label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox"> Other </label>
            </div>
            <textarea rows="4" cols="30" placeholder="Comments"></textarea> <!-- Disable when other not selected -->
        </div>
        <div class="question7 finished">
            <h3>Hours of operation:</h3>
            <div>Data Source:</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Site</button>
                <button type="button" class="btn btn-default">Menu</button>
                <button type="button" class="btn btn-default">Web</button>
            </div>
            <div class="checkbox"><!-- hide below if checked -->
                <label> <input type="checkbox"> Open 24 Hours </label>
            </div>
            <h4>Sunday</h4>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Open</button>
                <button type="button" class="btn btn-default">Closed</button>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">B: 6:00AM - 11:00 AM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">L: 11:00AM - 3:00 PM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">D: 5:00 PM - Close</label>
            </div>
            Hours: <input type="time"> to <input type="time">
            <h4>Thursday</h4>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Open</button>
                <button type="button" class="btn btn-default">Closed</button>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">B: 6:00AM - 11:00 AM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">L: 11:00AM - 3:00 PM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">D: 5:00 PM - Close</label>
            </div>
            Hours: <input type="time"> to <input type="time">
            <h4>Friday</h4>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Open</button>
                <button type="button" class="btn btn-default">Closed</button>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">B: 6:00AM - 11:00 AM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">L: 11:00AM - 3:00 PM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">D: 5:00 PM - Close</label>
            </div>
            Hours: <input type="time"> to <input type="time">
            <h4>Saturday</h4>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Open</button>
                <button type="button" class="btn btn-default">Closed</button>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">B: 6:00AM - 11:00 AM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">L: 11:00AM - 3:00 PM</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">D: 5:00 PM - Close</label>
            </div>
            Hours: <input type="time"> to <input type="time">
        </div>
        <div class="question8 finished">
            <div>Access:</div>
            <div class="checkbox">
                <label> <input type="checkbox">Drive-thru window</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">Parking onsite</label>
            </div>
        </div>
        <div class="question9 finished">
            <h3>Size of Venue:</h3>
            Choose input method:
            <div class="checkbox">
                <label> <input type="checkbox">Drive-thru window</label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox">Parking onsite</label>
            </div>
            <input type="number"><!-- hide until one of the checkboxes selected-->
        </div>
        <div class="question10 finished"> <!-- hide unless site visit selected -->
            <h3>Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Restaurant has a salad bar</label>
            </div>
            <textarea rows="4" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question11 finished"><!-- hide unless site visit selected -->
            <h3>Site Visit (Signage/Promotions):</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Nutrition information is posted near point-of-purchase, or available in a brochure</label><!-- worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Signs highlight healthy menu opitions</label><!-- worth a point, max 1 point from both this and next part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Signs/table tents/displays encourage healthy eating</label><!-- worth a point, max 1 point from both this and prev part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <h3>Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Signs/table tents/displays encourage unhealthy eating</label><!-- worth -1 points, max -1 point from both this and next part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Signs/table tents/displays encourage overeating (e.g. all-you-can-eat, puper-size, jumbo, grande, supreme, king size feast, feast descriptors on menu or signage</label><!-- worth -1 points, max -1 point from both this and prev part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Restaurant has a low-carb promotion</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Other</label><!-- not sure if this should remain-->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <textarea rows="2" cols="30" placeholder="Further comments regarding observation"></textarea>
        </div>
        <div class="question12 finished"><!-- only show if Menu review or site visit selected-->
            <h3>Menu Review/Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Chips</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Baked Chips</label><!-- Worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question13 finished">
            <h3>Menu Review/Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Bread</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">100% wheat or whole grain bread</label><!-- Worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question14 finished">
            <h3>Menu Review/Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">100% Fruit Juice</label><!-- Worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question15 finished">
            <h3>Menu Review/Site Visit:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">1% low-fat, skim, or non-fat milk</label><!-- Worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question16 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Main Dishes/Entrees</label>
            </div>
            Number of main dishes/entrees: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Healthy Options</label>
            </div>
            Number of healthy options: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <!-- 1 choice = 1pt, 2-4 choices = 2pt, 5+ choices = 3tp -->

            <!-- healthy/entrees = proportion of healthy entrees -->
        </div>
        <div class="question17 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Main Dish Salads</label>
            </div>
            Number of main dish salads: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Healthy Options</label>
            </div>
            Number of healthy salads: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <!-- 1 choice = 1pt, 2-4 choices = 2pt, 5+ choices = 3tp -->
            <div class="checkbox">
                <label> <input type="checkbox">Low-fat or fat free dressings</label>
            </div>
            Number of low-fat or fat free dressings: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <!-- 1 choice = 1pt, 2 choices = 2pt, 3+ choices = 3tp -->

            <!-- healthy/salads = proportion of healthy salads -->
        </div>
        <div class="question18 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Fruit (without added sugar)</label>
            </div><!-- yes = point -->
            Number of choices: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question19 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Non-fried vegetables(without added sauce)</label>
            </div><!-- yes = 1 point -->
            Number of choices: <input type="number"> <!-- hide until checkbox checked -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question20 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Diet soda</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question21 finished">
            <h3>Menu Review:</h3> <!-- only show these if Menu selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Other healthy or low calorie beverage</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question22 finished">
            <h3>Menu Review/Site Visit (Facilitators and Supports):</h3><!-- show if menu or site visit selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Nutrition information on menu (paper or posted menu)</label><!-- worth a point, max 1 point from both this and next part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Healthy entrees identified on menu</label><!-- worth a point, max 1 point from both this and prev part -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Reduced-size portions offered on menu</label><!-- worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Menu notation encourages healthy requests</label><!-- worth a point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Other</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question23 finished">
            <h3>Menu Review/Site Visit (Barriers):</h3><!-- show if menu or site visit selected -->
            <div class="checkbox">
                <label> <input type="checkbox">Large portions sizes encouraged (e.g., super-size items on menu)</label><!-- -1 point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Menu notations that discourage special requests (e.g., no substitutions or charge for substitutions)</label><!-- -1 point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">All-you-can-eat or "unlimited trips"</label><!-- -1 point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Other</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question24 finished">
            <h3>Menu Review/Site Visit (Pricing):</h3><!-- show if menu or site visit selected -->
            <div>Sum of individual items compared to combo meal:</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div><!-- Combo meal is cheaper = -1 pt -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div>Healthy entree pricing compared to regular entrees</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div><!-- healthy entree is cheaper = 1 pt -->
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div class="checkbox">
                <label> <input type="checkbox">Charge for shared entree</label>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div>Smaller portion compared to regular portion</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <div>Other</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
            <textarea rows="2" cols="30" placeholder="Further comments regarding menu review/site visit"></textarea>
        </div>
        <div class="question25 finished">
            <h3>Added Observations:</h3>
            <div class="checkbox">
                <label> <input type="checkbox">Healthy items ordered first on nutrition information or menus</label><!-- -1 point -->
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question26 finished">
            <h3>Added Observations:</h3>
            <div>How often are healthier items sold at the register in comparison to unhealthy items?</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question27 finished">
            <h3>Added Observations:</h3>
            <div>How often are healthier items sold at the grab-n-go stations in comparison to unhealthy items?</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question28 finished">
            <h3>Added Observations:</h3>
            <div>Are healthier items at eye-level or easily reached at the grab-n-go stations in comparison to unhealthy items?</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question29 finished">
            <h3>Added Observations:</h3>
            <div>Are healthier items at eye-level or easily reached in the fridges in comparison to unhealthier drinks?</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question30 finished">
            <h3>Added Observations:</h3>
            <div>What are the prices of healthier snacks compared to unhealthy snacks?</div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">More</button>
                <button type="button" class="btn btn-default">Less</button>
                <button type="button" class="btn btn-default">Same</button>
                <button type="button" class="btn btn-default">N/A</button>
            </div>
            <textarea rows="2" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question31 finished">
            <h3>Added Observations:</h3>
            <div>What is offered with the combo meal? What are the differences in size/cost</div>
            <textarea rows="5" cols="30" placeholder="Comments"></textarea>
        </div>
        <div class="question32 finished">
            <h3>Added Observations:</h3>
            <div>Average wait time:</div>
            <textarea rows="1" cols="30" placeholder="Comments"></textarea>
            <div>Additional comments/observations</div>
            <textarea rows="5" cols="30" placeholder="Comments"></textarea>
        </div>
    </div>
</body>
</html>
