<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap setup -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- head content -->
	<title>Nutrition Environment Measures Survey</title>
</head>

<body>
    <form action="/reviews" method="post">
        <div>
            <label for="restaurantId">Restaurant ID:</label>
            <input type="text" name="restaurantId" id="restaurantId" />
        </div>
        <div>
            <label for="raterId">Rater ID:</label>
            <input type="text" name="raterId" id="raterId" />
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
