.title{
	padding-right: 15px;
    padding-left: 15px;
}

#title-bar{
    padding: 5px 0px;
    margin: 0px;
}

#pages{
    margin-left: auto;
    margin-right: auto;
}

.finished{
    display: none !important;
}

.btn-vertical-justified{
	display: block !important;
}